/* popup.css - Main stylesheet for The Collector popup */

/* Import all component stylesheets in correct order */
@import "variables.css";
@import "components.css";
@import "layout.css";
@import "groups.css";
@import "drag-drop.css";
@import "modals.css";
